.btn {
  box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.1) !important;
  padding: 1rem 1rem;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
  width: 140px;
  margin-right: -1rem;
}

.btn-primary {
  background-color: $primary;
  &:hover {
    background-color: darken($primary, 10%);
  }
  &:focus {
    background-color: darken($primary, 10%);
    color: white;
  }
  &:active {
    background-color: darken($primary, 15%) !important;
  }
}

@media (max-width: 768px) {
  .nav-item .nav-link {
    display: flex; /* Add this to make the anchor tag a flex container */
    justify-content: center;
  }

  .nav-item .btn {
    width: 200px;
    margin: 0 auto; /* Remove this line, as we're now using flexbox for centering */
  }

  .navbar { /* Center the buttons vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


